# Importing Required Libraries

In [1]:
import pandas as pd

In [2]:
import numpy as np

# Loading Datasets

In [19]:
orders = pd.read_csv(r"C:\Users\adity\OneDrive\Desktop\ecommerce-order-funnel-conversion-analysis\olist_orders_dataset.csv")

In [6]:
payments= pd.read_csv(r"C:\Users\adity\OneDrive\Desktop\ecommerce-order-funnel-conversion-analysis\olist_order_payments_dataset.csv")

In [7]:
items= pd.read_csv(r"C:\Users\adity\OneDrive\Desktop\ecommerce-order-funnel-conversion-analysis\olist_order_items_dataset.csv")

In [8]:
customers = pd.read_csv(r"C:\Users\adity\OneDrive\Desktop\ecommerce-order-funnel-conversion-analysis\olist_customers_dataset.csv")

# Previewing The orders dataset

In [9]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

# orders funnel - status-wise order count

In [12]:
orders['order_status'].value_counts()

order_status
delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: count, dtype: int64

# Data Type and missing value overview

In [20]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

# Converting data types

In [45]:
date_cols = ['order_purchase_timestamp','order_approved_at','order_delivered_customer_date',
             'order_estimated_delivery_date','order_delivered_carrier_date']

In [47]:
for col in date_cols:
    orders[col]= pd.to_datetime(orders[col],errors='coerce')

# Verifying

In [101]:
 orders[date_cols].dtypes

order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
dtype: object

# Checking duplicates

In [37]:
orders.duplicated().sum()

np.int64(0)

# Checking duplicate order_id

In [38]:
orders.duplicated(['order_id']).sum()

np.int64(0)

# Missing Values Check for orders

In [39]:
orders.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

# Checking Missing Values for Delivered orders

In [40]:
delivered_orders= orders[orders['order_status']== 'delivered']

In [41]:
delivered_orders[
    [ 'order_approved_at','order_delivered_carrier_date','order_delivered_customer_date']
].isna().sum()

order_approved_at                14
order_delivered_carrier_date      2
order_delivered_customer_date     8
dtype: int64

# Previewing payments dataset

In [49]:
payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

# Data types and missing value overview for payments

In [51]:
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

# Dropping Duplicates

In [70]:
payments.drop_duplicates()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

# Previewing items dataset

In [52]:
items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

# Data Types and missing value overview for items

In [53]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

# Converting data types for items

In [59]:
 items['shipping_limit_date']= pd.to_datetime(items['shipping_limit_date'],errors ='coerce')

# Verifying

In [64]:
items.dtypes

order_id                       object
order_item_id                   int64
product_id                     object
seller_id                      object
shipping_limit_date    datetime64[ns]
price                         float64
freight_value                 float64
dtype: object

# Dropping Duplicates

In [68]:
items.drop_duplicates()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

# Previewing customers dataset

In [66]:
payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

# Data type and missing values overview for customers

In [67]:
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

# Dropping Duplicates

In [69]:
payments.drop_duplicates()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

# Defining funnel stages

In [71]:
funnel = {
    "Purchase": orders['order_id'].nunique(),

    "Approved": orders[
        orders['order_approved_at'].notna()
    ]['order_id'].nunique(),

    "Shipped": orders[
        orders['order_delivered_carrier_date'].notna()
    ]['order_id'].nunique(),

    "Delivered": orders[
        orders['order_delivered_customer_date'].notna()
    ]['order_id'].nunique()
}

funnel

{'Purchase': 99441, 'Approved': 99281, 'Shipped': 97658, 'Delivered': 96476}

# Conversion %

In [72]:
funnel_df = pd.DataFrame(
    list(funnel.items()),
    columns=['Stage', 'Orders']
)

funnel_df['Conversion_%'] = (
    funnel_df['Orders'] / funnel_df['Orders'].shift(1)
) * 100

funnel_df

       Stage  Orders  Conversion_%
0   Purchase   99441           NaN
1   Approved   99281     99.839101
2    Shipped   97658     98.365246
3  Delivered   96476     98.789654

# Drop-off Analysis

In [73]:
funnel_df['Drop_%'] = 100 - funnel_df['Conversion_%']
funnel_df

       Stage  Orders  Conversion_%    Drop_%
0   Purchase   99441           NaN       NaN
1   Approved   99281     99.839101  0.160899
2    Shipped   97658     98.365246  1.634754
3  Delivered   96476     98.789654  1.210346

# Approval Time

In [76]:
orders['approval_time_hrs'] = (
    orders['order_approved_at'] -
    orders['order_purchase_timestamp']
).dt.total_seconds() / 3600

# Shipping Time

In [78]:
orders['shipping_time_hrs'] = (
    orders['order_delivered_carrier_date']
    - orders['order_approved_at']
).dt.total_seconds() / 3600

# Delivered Time

In [79]:
orders['delivery_time_hrs'] = (
    orders['order_delivered_customer_date']
    - orders['order_delivered_carrier_date']
).dt.total_seconds() / 3600

# Time between stages

In [80]:
orders[['approval_time_hrs',
        'shipping_time_hrs',
        'delivery_time_hrs']].describe()

       approval_time_hrs  shipping_time_hrs  delivery_time_hrs
count       99281.000000       97644.000000       96475.000000
mean           10.419094          67.320916         223.933126
std            26.038004          85.186249         210.242923
min             0.000000       -4109.256111        -386.308056
25%             0.215000          21.012222          98.398750
50%             0.343333          43.641528         170.394444
75%            14.580833          85.931250         288.698750
max          4509.180556        3018.301667        4924.583333

# Note: Negative time values were observed due to inconsistent or out-of-order timestamps.These records were retained to reflect real-world data quality issues.

# Saving Updated Dataset

In [116]:
orders.to_csv(r"C:\Users\adity\OneDrive\Desktop\ecommerce-order-funnel-conversion-analysis\orders.csv", index = False)

In [111]:
items.to_csv(r"C:\Users\adity\OneDrive\Desktop\ecommerce-order-funnel-conversion-analysis\items.csv", index = False)

In [113]:
customers.to_csv(r"C:\Users\adity\OneDrive\Desktop\ecommerce-order-funnel-conversion-analysis\customers.csv", index = False)

In [114]:
payments.to_csv(r"C:\Users\adity\OneDrive\Desktop\ecommerce-order-funnel-conversion-analysis\payments.csv", index = False)